<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{pictures}">
		<f:then>
			<div class="pagination page0">
			<f:for each="{pictures}" as="picture" iteration="i">
				<f:if condition="{i.index}%4000">
					<f:then>
					</f:then>
					<f:else>
						<f:if condition="{i.isFirst}">
							<f:then>
							</f:then>
							<f:else>
								</div><div class="pagination page{i.index}">
							</f:else>
						</f:if>
					</f:else>
				</f:if>
				<a class="fancybox" rel="group" 
href="uploads/tx_isenberggallery/{picture}"><f:image 
src="uploads/tx_isenberggallery/{picture}" width="300m" height="90m" 
alt="{prefix} {i.index}" /></a>
			</f:for>
			</div>
		</f:then>
		<f:else>
			Keine Bilder in dieser Ansicht vorhanden
		</f:else>
	</f:if>

</f:section>
